<!DOCTYPE html>


<html ng-app="angularjsNodejsTutorial">
      <head>
        <!-- <title>Please enter a person login</title> -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
         <!-- Custom styles for this template -->
        <!-- <link href="../css/navbar-static-top.css" rel="stylesheet"> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
        
        /* Add a gray background color and some padding to the footer */
        footer {
          background-color: #f2f2f2;
          padding: 25px;
        }
        
      .carousel-inner img {
          width: 100%; /* Set width to 100% */
          margin: auto;
          min-height:200px;
      }

      /* Hide the carousel text when the screen is less than 600 pixels wide */
      @media (max-width: 600px) {
        .carousel-caption {
          display: none; 
        }
      }
      </style>

    </head>



    <body data-spy="scroll" data-target=".scrollspy" ng-controller="loadController">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">Logo</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/animation">Animation</a></li>
        <li><a href="/genre">Genre</a></li>
        <li><a href="/character">Character</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://preview.ibb.co/cPJbcw/dragon_ball_z_characters_wallpaper_4814.jpg" alt="Image" style="width:auto;height:auto;">
        <div class="carousel-caption">

        </div>      
      </div>

      <div class="item">
        <img src="https://preview.ibb.co/cPJbcw/dragon_ball_z_characters_wallpaper_4814.jpg" alt="Image" style="width:auto;height:auto;">
        <div class="carousel-caption">

        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<!--         <div class="jumbotron text-center">
  <h1>Recommend the Popular Animations!</h1>
  <p><a href="/">Back to Main Page</a></p>
</div> -->
  
<!-- <div id="original" class="container"> ORIGINAL CODES THAT PRODUCE TABLE ON ONE PAGE
  <div class="row">
        <div class="jumbotron">
     <div ng-controller="myController">
    <p>

     <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Please enter a person login:
        <input name="email" ng-model="email" value=""> 

        <button type="button"  ng-click="Submit()" class = "button">Show All</button>

        <button type="button" ng-click="Top10()" class="button">Top10</button>

        <button type="button" ng-click="Top50()" class="button">Top50</button>

        <button type="button" ng_click="Empty()" class="button"> Empty the table! </button>

    </p> -->

    <div class="container">
  <h2>Animation Information and Recommendations based on general popularity</h2>
  <h3> You can also add animation reviews here! </h3>
  <div class="row">
        <div class="jumbotron">
     <div ng-controller="myController">
        <p> 


  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" ng-click = "Submit()" data-toggle="modal" data-target="#myModal1">Show Animations</button>
  <button type="button" class="btn btn-info btn-lg" ng-click = "Top10()" data-toggle="modal" data-target="#myModal2">Top 10 Animation by Rating</button>
  <button type="button" class="btn btn-info btn-lg" ng-click = "members()" data-toggle="modal" data-target="#myModal3">Top 10 Animation by Popularity</button>
  

<!--   <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Your interested animation:
      <input name="name" ng-model="name" value="">
      <button type="button" ng-click="Search()" class="button" data-toggle="modal" data-target="#myModal4">Search</button>
  </p> -->


  <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Your Interested Animation:
      <input name="animation" ng-model="animation" value="">
      <button type="button" ng-click="Search()" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal4">Search</button>
  </p>



<!-- <span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> -->
  <p> Enter your animation review:
  </p>
      Animation: <input type="text" name="name" ng-model="name" value=""/></br>
      Score: <input type="text" name="score" ng-model="score" value=""/></br>

  <button type="button" ng-click="Insert()" class="btn btn-info btn-lg">Insert</button></br>
  <label>{{message}}</label>

  <button type="button" class="btn btn-info btn-lg" ng-click = "showreview()" data-toggle="modal" data-target="#myModal5">Show Recent User Reviews</button>



  <!-- </div>  --> 


  <!-- Modal1 -->
  </p>
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">All animation information</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" ng-show="loading">Loading data...</div>
          <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
        <tr> 
        <td> Anime_id </td>
        <td>  Name </td>
        <td> Type </td>
        <td> Episodes </td>
        <td> Score </td>
        <td> members </td>
        <tr ng-repeat="x in data"> 
        <td> {{x.anime_id}} </td>
        <td> {{x.name}} </td>
        <td> {{x.type}} </td>
        <td> {{x.episodes}} </td>
        <td> {{x.score}} </td>
        <td> {{x.members}} </td>
        </tr>
    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal2 -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Top 10 user id </h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" ng-show="loading">Loading data...</div>
            <!-- <div ng-if="loading">loading...</div> -->

          <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
        <tr> 
        <td> Anime_id </td>
        <td>  Name </td>
        <td> Type </td>
        <td> Episodes </td>
        <td> Score </td>
        <td> members </td>
        <tr ng-repeat="x in data"> 
        <td> {{x.anime_id}} </td>
        <td> {{x.name}} </td>
        <td> {{x.type}} </td>
        <td> {{x.episodes}} </td>
        <td> {{x.score}} </td>
        <td> {{x.members}} </td>
        </tr>
    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" ng-show="loading">Loading data...</div>
          <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
        <tr> 
        <td> Anime_id </td>
        <td>  Name </td>
        <td> Type </td>
        <td> Episodes </td>
        <td> Score </td>
        <td> members </td>
        <tr ng-repeat="x in data"> 
        <td> {{x.anime_id}} </td>
        <td> {{x.name}} </td>
        <td> {{x.type}} </td>
        <td> {{x.episodes}} </td>
        <td> {{x.score}} </td>
        <td> {{x.members}} </td>
        </tr>
    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal4 -->
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Top 10 user id </h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" ng-show="loading">Loading data...</div>
            <!-- <div ng-if="loading">loading...</div> -->

          <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
        <tr> 
        <td> Anime_id </td>
        <td>  Name </td>
        <td> Type </td>
        <td> Episodes </td>
        <td> Score </td>
        <td> members </td>
        <tr ng-repeat="x in data"> 
        <td> {{x.anime_id}} </td>
        <td> {{x.name}} </td>
        <td> {{x.type}} </td>
        <td> {{x.episodes}} </td>
        <td> {{x.score}} </td>
        <td> {{x.members}} </td>
        </tr>
    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal5 -->
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Top 10 user id </h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" ng-show="loading">Loading data...</div>
            <!-- <div ng-if="loading">loading...</div> -->

          <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
        <tr> 
        <td>  name </td>
        <td>  score </td>
        <tr ng-repeat="x in data"> 
        <td> {{x.name}} </td>
        <td> {{x.score}} </td>

        </tr>
    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




</div>
</div>

    <!-- <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
        <tr> 
        <td> Anime_id </td>
        <td>  Name </td>
        <td> Type </td>
        <td> Episodes </td>
        <td> Score </td>
        <td> members </td>
        <tr ng-repeat="x in data"> 
        <td> {{x.anime_id}} </td>
        <td> {{x.name}} </td>
        <td> {{x.type}} </td>
        <td> {{x.episodes}} </td>
        <td> {{x.score}} </td>
        <td> {{x.members}} </td>
        </tr>
    </table> -->
    </div>
    
        

  </div>
</div>


    </body> 
 


</html>