<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 200px;
    margin: 2;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 200px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>Animation Recommendation</h1>
</header>
  
<nav>
  <ul>
    <li><a href="/insert" style = "color:blue">Top 10 Popular Animation</a></li>
    <li><a href="/reference" style = "color:blue">Top 10 Popular Genre</a></li>
    <li><a href="/genre" style = "color:blue">Top 10 Popular Character</a></li>



    <p>Search animation:</p>
    <form>
      <input type="text" name="search" placeholder="Search..">
    </form>
    
  </ul>
</nav>

<article>
  <h1>Animation</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <img src="https://media.giphy.com/media/i3tkSTAeBuKxG/giphy.gif" alt="web does not display" width="200" height="400">



</article>



</div>

</body>
</html>
