<!DOCTYPE html>


<html ng-app="angularjsNodejsTutorial">
      <head>
        <!-- <title>Please enter a person login</title> -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
         <!-- Custom styles for this template -->
        <!-- <link href="../css/navbar-static-top.css" rel="stylesheet"> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
        
        /* Add a gray background color and some padding to the footer */
        footer {
          background-color: #f2f2f2;
          padding: 25px;
        }
        
      .carousel-inner img {
          width: 100%; /* Set width to 100% */
          margin: auto;
          min-height:200px;
      }

      /* Hide the carousel text when the screen is less than 600 pixels wide */
      @media (max-width: 600px) {
        .carousel-caption {
          display: none; 
        }
      }
      </style>

    </head>



    <body data-spy="scroll" data-target=".scrollspy" ng-controller="loadController">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">Logo</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/animation">Animation</a></li>
        <li><a href="/genre">Genre</a></li>
        <li><a href="/character">Character</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <!--  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://www.indiewire.com/wp-content/uploads/2014/05/fairy-tail-dynamac.jpg" alt="yourname" alt="Image" style="width:auto;height:auto;">
        <div class="carousel-caption">
<!--           <h3>Sell $</h3>
          <p>Money Money.</p> -->
        </div>      
      </div>

      <div class="item">
        <img src="http://www.indiewire.com/wp-content/uploads/2014/05/fairy-tail-dynamac.jpg" alt="yourname" alt="Image" style="width:auto;height:auto;">
        <div class="carousel-caption">
          <!-- <h3>More Sell $</h3>
          <p>Lorem ipsum...</p> -->
        </div>      
      </div>
    </div>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class "page-header"> 
<h1><font color="blue">User Registration </font></h1>
</div>
<div ng-controller = "registerctrl">
<form>
	<!-- Email -->
	<label>Email:</label>
	<input class = "form-control" type="text" name="email" placeholder = "please enter email" ng-model="email">
	<br>
	<!-- Username -->
	<label>Username:</label>
	<input class = "form-control" type="text" name="username" placeholder = "please enter username" ng-model="username">
	<br>
	<!-- Password -->
	<label>Password:</label>
	<input class = "form-control" type="password" name="password" placeholder = "please enter password" ng-model="password">
	<br>
	<!-- Favorite Anime -->
	<label>Favorite Anime:</label>
	<input class = "form-control" type="text" name="favanime" placeholder = "please enter your favorite anime" ng-model="favanime">
	<br>
	<!-- Favorite Genre -->
	<label>Favorite Genre:</label>
	<input class = "form-control" type="text" name="favgenre" placeholder = "please enter your favorite genre" ng-model="favgenre">
	<br>

	<button class="btn btn-info btn-lg" type="button" ng-click = "register()">Register!</button>
</form>

  </div>
    <div ng-controller="registerctrl">
    <button type="button" class="btn btn-info btn-lg" ng-click = "showregister()" data-toggle="modal" data-target="#myModal1">Show Registered User Information</button>
     <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Information</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" ng-show="loading">Loading data...</div>
          <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
        <tr> 
<!--         <td> Anime_id </td> -->
        <td>  Email </td>
        <td> Username </td>
        <td> Favorite Anime </td>
        <td> Favorite Genre</td>
        <tr ng-repeat="x in data"> 
<!--         <td> {{x.anime_id}} </td> -->
        <td> {{x.email}} </td>
        <td> {{x.username}} </td>
        <td> {{x.favanime}} </td>
        <td> {{x.favgenre}} </td>
        </tr>
    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>

</div>

</body>
</html>